.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.video {
  width: 90%;

  margin: 2rem auto;
  margin-top: 0;

  display: block;
  border-radius: 0.5rem;

  max-width: 84rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
